@import "tailwindcss";

body {
  background-color: #050505;
  margin: 0;
}

.embossed {
  box-shadow:
    inset -2px -2px 4px rgba(255, 255, 255, 0.03),
    inset 2px 2px 4px rgba(0, 0, 0, 0.4),
    -5px -5px 15px rgba(255, 255, 255, 0.02),
    10px 10px 20px rgba(0, 0, 0, 0.5);
}

.debossed {
  box-shadow:
    inset 4px 4px 8px rgba(0, 0, 0, 0.6),
    inset -2px -2px 4px rgba(255, 255, 255, 0.03);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}